
html {
    --fonte-padrao: 'Open Sans';
    --fonte-corpo-post: 'Noto Serif';
    --cinza-escuro: #1C1C1C;
    --cinza-claro: #4F4F4F;
    --background-principal: #F8F8FF;
    --background-secundario: #D6D6FF;
    --background-destaque: #D8BFD8;
    --azul-claro: #dee2e6;
}

/* html p {
    font-family: var(--fonte-padrao);
} */

.page {
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "corpo"
    "rodape";
    grid-template-rows: auto auto 10% ;
}

.menu-lateral {
    background-color: var(--background-secundario);
    box-shadow: 0px 2px 5px -2px #888;
    grid-column: 1 / 2;
    z-index: 1;
}

.banner-lateral {
    background-color: var(--background-secundario);
    grid-column: 3 / 3;
}

.corpo {
    display: grid;
    grid-area: corpo;
    grid-template-columns: 10% 65% 25%; 
    /* grid-column: 2 / 3; */    
}

.container {
    background-color: var(--background-principal);
    grid-column: 2 / 3;
    padding: 2em;
}

.rodape {
    background-color: var(--background-destaque);
    grid-area: rodape;
}

@media screen and (max-width: 768px) {
    .banner-lateral {
        display: none;
    }
    
    .container {
        grid-column: 2 / 4;
    }
}

@media screen and (max-width: 420px) {
    .menu-lateral {
        height: 20vh; 
        grid-column: 1 / 4;
    }

    .container {
        grid-column: 1 / 4;
    }
}