
.box {
    background-color: var(--azul-claro);
    box-shadow: 2px 2px 5px lightgrey;    
    border-radius: 15px;
    margin-bottom: 2em;
    padding: 2em;
    width: calc(100% - 4em);
}

.box select, input {
    font-family: var(--fonte-padrao);
    font-size: 18px;
}

.box__selectPadrao {
    border: none;
    color: grey;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
    height: 40px;
    width: fit-content;
}


.box__selectImbutido {
    background-color: cadetblue;
    border: none;
    /* margin: 10px 0; */
    border-radius: 0 5px 5px 0; 
    /* box-shadow: 1px 2px 5px grey; */
    color: white;
    padding: 0 10px;
}



.box__input {
    border: none;
    border-radius: 5px 0 0 5px; 
    color: var(--cinza-claro);
    /* margin: 10px 0; */
    height: 40px;
    width: 250px;
    /* box-shadow: 1px 2px 5px grey; */
}

#entrada, #saida {
    display: flex;   
    margin: 20px 0; 
}

.box__campo {
    display: flex;    
}