
.caixa-conversor {
    background-color: ghostwhite;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 2px 2px 5px lightgrey;
}

.select-ingrediente {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    border: none;
}


.select-medida {
    border: none;
    /* margin: 10px 0; */
    border-radius: 0 5px 5px 0; 
    /* box-shadow: 1px 2px 5px grey; */
    background-color: cadetblue;
    color: white;
    
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
}



.input-padrao {
    /* margin: 10px 0; */
    height: 40px;
    width: 250px;
    font-size: 20px;
    /* box-shadow: 1px 2px 5px grey; */
    border: none;
    border-radius: 5px 0 0 5px; 
}

#entrada, #saida {
    display: flex;   
    margin: 20px 0; 
}